@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1b1f25; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #555761; 
  border-radius: 10px; 
  cursor: move;
}

::-webkit-scrollbar-thumb:hover {
  background: #9fa0a2; 
  padding: 2px;
}

::-webkit-scrollbar-thumb:active {
  background: #9fa0a2; 
}

::-webkit-scrollbar-corner {
  background: #f4f4f4; 
}

.hideScroll::-webkit-scrollbar{
  display: none;
}